/* #FFFAFB; #32292F; #01A851; #063921 */
:root {
    --fond : #FFFAFB;
    --texte : #32292F;
    --couleursupp : #01A851;
    --liens : #063921;
}
body {
    background-color: var(--fond);
    color: var(--texte );
}
header {
    background-color: var(--couleursupp);
}
a {
    color: var(--liens);
}